@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./src/styles/variables.scss";
@import "./src/styles/mixins.scss";

// ---------- main styles ---------- //
html {
  font-family: $primary-font-family;
  font-weight: $font-weight-regular;
  font-style: normal;
  line-height: 1.5;
  color: $dark-text-color;
  scroll-behavior: smooth;
}

// ---------- UI styles ---------- //
// ---------- logo ---------- //
.logo {
  font-family: $secondary-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
}
// ---------- button ---------- //
.button {
  @include noselect;
  display: block;
  text-align: center;

  border-radius: 40px;
  color: $light-text-color;

  font-size: $font-size-m;
  font-weight: $font-weight-semiBold;

  cursor: pointer;

  transition: all ease-out 0.2s;
  background-color: $background-color-orange;

  &:hover {
    background-color: darken($background-color-orange, 10%);
  }

  &:active {
    transform: scale(1.1);
  }

  &-small {
    padding: 10px 30px;
  }
  &-large {
    padding: 20px 30px;
  }
}

// ---------- theme toggler ---------- //
.toggler {
  @include noselect;
  display: flex;
  align-items: center;

  &__checkbox {
    opacity: 0;
    position: absolute;
  }

  &__checkbox:checked + &__label &__button {
    transform: translateX(24px);
  }

  &__label {
    box-shadow: $dark-background-color 0px 0px 0px 2px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
  }

  &__button {
    background-color: $dark-background-color;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  &__icon {
    font-size: $font-size-s;
  }
}

// ---------- radio button (color) ---------- //
.radioButton {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked + &__label {
    border: $input-border-checked;
  }

  &__label {
    @include flexCenter;
    position: relative;
    padding: 2px;
    border: $input-border;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: border 0.2s;

    &::before {
      content: " ";
      display: inline-block;
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }

    &-salmon::before {
      background-color: $color-salmon;
    }

    &-teal::before {
      background-color: $color-teal;
    }

    &-rajah::before {
      background-color: $color-rajah;
    }
    &-selena::before {
      background-color: $color-selena;
    }
  }
}

// ---------- input ---------- //
.input {
  padding: 10px;
  border: $input-border;
  border-radius: 10px;

  &:focus {
    border: $input-border-focus;
  }
}

// ---------- textarea ---------- //
.textarea {
  padding: 10px;
  border: $input-border;
  border-radius: 10px;
  resize: none;

  &:focus {
    border: $input-border-focus;
  }
}

// ---------- burger button ---------- //
.burger {
  &__toggle {
    opacity: 0;
    position: absolute;
  }
  &__toggle:checked + &__button > span {
    transform: rotate(45deg);
  }
  &__toggle:checked + &__button > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  &__toggle:checked + &__button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &__button {
    display: none;
    position: fixed;
    top: 22px;
    right: 22px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 25;
  }
  &__button > span,
  &__button > span::before,
  &__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    transition-duration: 0.25s;
    background-color: $dark-background-color;
  }
  &__button > span::before {
    content: "";
    top: -8px;
  }
  &__button > span::after {
    content: "";
    top: 8px;
  }
}

// scroll to top arrow
.scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-background-color;
  color: $dark-text-color;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: $font-size-m;
  cursor: pointer;
  z-index: 100;
  box-shadow: $shadow;

  &-show {
    display: block;
  }
}

// ---------- Page styles ---------- //
// ---------- page ---------- //
.page {
  position: relative;
  background-color: $light-background-color;
  transition: background 0.2s;

  &__header {
    position: fixed;
    z-index: 20;
  }
}

// ---------- header ---------- //
.header {
  display: block;
  width: 100%;
  padding: 10px 0;

  font-weight: $font-weight-medium;

  backdrop-filter: blur(20px);
  background-color: rgba($color-white, 0.5);
  box-shadow: $shadow;
  transition: background 0.2s;

  &__container {
    max-width: $container-width;
    margin: 0 auto;

    display: flex;
    align-items: center;

    @include offsetContainer($container-offset);
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__logo {
    position: relative;
    margin-right: 40px;
    z-index: 20;
  }

  &__nav {
    flex: 1 1 auto;
  }
}

// ---------- nav list ---------- //
.nav {
  display: flex;
  align-items: center;
  font-size: $font-size-s;

  &__link {
    padding: 5px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// ---------- main (title) section ---------- //
.main {
  position: relative;
  height: 100vh;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    background-image: url("./src/assets/images/interior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__container {
    max-width: $container-width;
    height: 100%;
    margin: 0 auto;
    @include offsetContainer($container-offset);
  }

  &__titleWrapper {
    position: relative;
    padding-top: 100px;

    @include flexCenter;
    flex-direction: column;
  }

  &__slogan {
    max-width: 800px;
    font-size: calc((1vh + 1vw) * 3);

    font-weight: $font-weight-medium;
    font-family: $secondary-font-family;
    text-align: center;
  }

  &__button {
    max-width: 250px;
    margin-top: 40px;
    animation: scaleAnimation ease-in-out 2s infinite;
  }
}

// ---------- content section ---------- //
.section {
  padding: 50px 0;
  text-align: center;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    @include offsetContainer($container-offset);
  }

  &__title {
    font-size: $font-size-xxl;
    margin: 30px 0;
  }
  &__paragraph {
    font-size: $font-size-l;
    margin: 10px 0;
    font-weight: $font-weight-light;
  }

  &__sofas {
    background-color: rgba(124, 170, 201, 0.3);
  }
  &__tables {
    background-color: rgba(255, 162, 162, 0.3);
  }
  &__chairs {
    background-color: rgba(255, 227, 134, 0.3);
  }
  &__accessories {
    background-color: rgba(167, 224, 118, 0.3);
  }
}

// ---------- products list ---------- //
.products {
  &__title {
    font-size: $font-size-xl;
    text-align: center;
    margin: 20px 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }
}

// ---------- product card ---------- //
.productCard {
  position: relative;
  width: 230px;
  background-color: $color-white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: $shadow;
  transition: background 0.2s;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
  }

  &__imageWrapper {
    overflow: hidden;
    border-radius: 10px;
  }

  &__image {
    transition: transform 0.2s;
  }

  &__title {
    font-size: $font-size-m;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  &__buyWrapper {
    display: flex;
    justify-content: end;
  }

  &__date {
    text-align: start;
    font-weight: $font-weight-light;
  }

  &:hover &__image {
    transform: scale(1.15);
  }
}

// ---------- dialog prchase element ---------- //
.dialog {
  margin: auto auto;
  padding: 30px 50px;
  border-radius: 20px;
  color: $dark-text-color;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: $font-size-m;
  }

  &__title {
    font-size: $font-size-xxl;
    margin-bottom: 20px;
  }

  &__data {
    font-weight: $font-weight-semiBold;
  }

  &__inputWrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__textareaWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__groupColor {
    display: flex;
    column-gap: 10px;
  }

  &__actionsWrapper {
    display: flex;
    column-gap: 20px;
    justify-content: end;
  }

  &::backdrop {
    background-color: rgba(17, 16, 20, 0.671);
    backdrop-filter: blur(5px);
  }
}

// ---------- footer ---------- //
.footer {
  &__container {
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
    @include offsetContainer($container-offset);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 50px 0;
  }

  &__column {
    @include flexCenter;
    flex-grow: 1;
  }

  &__contactWrapper {
    font-size: $font-size-s;
    font-weight: $font-weight-semiBold;
  }

  &__contact {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// ---------- dark theme  ---------- //
[data-dark="true"] {
  .page {
    background-color: $dark-background-color;
    color: $light-text-color;
  }

  .productCard {
    background-color: rgba($dark-background-color, 0.7);
  }

  .header {
    background-color: rgba($dark-background-color, 0.7);
  }

  .burger__toggle:checked ~ .header__wrapper {
    background-color: $dark-background-color;
  }

  .burger__button > span,
  .burger__button > span::before,
  .burger__button > span::after {
    background-color: $light-text-color;
  }

  .toggler {
    &__label {
      box-shadow: $light-text-color 0px 0px 0px 2px;
    }
    &__button {
      background-color: $light-text-color;
    }
  }
}

// tablet and mobile screen
@media only screen and (max-width: 700px) {
  .header {
    .burger__button {
      display: block;
    }
    .burger__toggle:checked ~ &__wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &__wrapper {
      display: none;
      position: absolute;
      padding-top: 70px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background-color: $light-background-color;
    }

    &__nav {
      flex-grow: 0;
      flex-direction: column;
    }

    &__toggler {
      justify-content: center;
    }
  }

  .main {
    &::before {
      opacity: 0.2;
      background-position: 0 50%;
    }

    &__titleWrapper {
      height: 100%;
    }
  }

  .section {
    &__title {
      font-size: $font-size-xl;
    }
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
