@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #3f3b38;
  scroll-behavior: smooth;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  text-align: center;
  border-radius: 40px;
  color: #fff9ed;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-out 0.2s;
  background-color: #cc9065;
}
.button:hover {
  background-color: #bf743f;
}
.button:active {
  transform: scale(1.1);
}
.button-small {
  padding: 10px 30px;
}
.button-large {
  padding: 20px 30px;
}

.toggler {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}
.toggler__checkbox {
  opacity: 0;
  position: absolute;
}
.toggler__checkbox:checked + .toggler__label .toggler__button {
  transform: translateX(24px);
}
.toggler__label {
  box-shadow: #3f3b38 0px 0px 0px 2px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}
.toggler__button {
  background-color: #3f3b38;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.toggler__icon {
  font-size: 18px;
}

.radioButton__input {
  position: absolute;
  opacity: 0;
}
.radioButton__input:checked + .radioButton__label {
  border: 2px solid rgba(63, 59, 56, 0.8);
}
.radioButton__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2px;
  border: 2px solid rgba(63, 59, 56, 0.2);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: border 0.2s;
}
.radioButton__label::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.radioButton__label-salmon::before {
  background-color: #fa8072;
}
.radioButton__label-teal::before {
  background-color: #008080;
}
.radioButton__label-rajah::before {
  background-color: #efb960;
}
.radioButton__label-selena::before {
  background-color: #8f979d;
}

.input {
  padding: 10px;
  border: 2px solid rgba(63, 59, 56, 0.2);
  border-radius: 10px;
}
.input:focus {
  border: 2px solid rgba(63, 59, 56, 0.5);
}

.textarea {
  padding: 10px;
  border: 2px solid rgba(63, 59, 56, 0.2);
  border-radius: 10px;
  resize: none;
}
.textarea:focus {
  border: 2px solid rgba(63, 59, 56, 0.5);
}

.page {
  position: relative;
  background-color: #fff9ed;
  transition: background 0.2s;
}
.page__header {
  position: fixed;
  z-index: 20;
}

.header {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-weight: 500;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(73, 56, 61, 0.144) 0px 8px 24px;
  transition: background 0.2s;
}
.header__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.header__logo {
  margin-right: 40px;
}
.header__nav {
  flex: 1 1 auto;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.nav__link {
  padding: 5px;
}
.nav__link:not(:last-child) {
  margin-right: 20px;
}

.main {
  position: relative;
  height: 100vh;
}
.main:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("./src/assets/images/interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.main__titleWrapper {
  position: relative;
  padding-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__slogan {
  max-width: 800px;
  font-size: calc((1vh + 1vw) * 3);
  font-weight: 500;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.main__button {
  max-width: 250px;
  margin-top: 40px;
  animation: scaleAnimation ease-in-out 2s infinite;
}

.section {
  padding: 50px 0;
  text-align: center;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.section__title {
  font-size: 50px;
  margin: 30px 0;
}
.section__paragraph {
  font-size: 25px;
  margin: 10px 0;
  font-weight: 300;
}
.section__sofas {
  background-color: rgba(124, 170, 201, 0.3);
}
.section__tables {
  background-color: rgba(255, 162, 162, 0.3);
}
.section__chairs {
  background-color: rgba(255, 227, 134, 0.3);
}
.section__accessories {
  background-color: rgba(167, 224, 118, 0.3);
}

.products__title {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
.products__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.productCard {
  position: relative;
  width: 230px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(73, 56, 61, 0.144) 0px 8px 24px;
  transition: background 0.2s;
}
.productCard__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
.productCard__imageWrapper {
  overflow: hidden;
  border-radius: 10px;
}
.productCard__image {
  transition: transform 0.2s;
}
.productCard__title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.productCard__buyWrapper {
  display: flex;
  justify-content: end;
}
.productCard__date {
  text-align: start;
  font-weight: 300;
}
.productCard:hover .productCard__image {
  transform: scale(1.15);
}

.dialog {
  margin: auto auto;
  padding: 30px 50px;
  border-radius: 20px;
  color: #3f3b38;
}
.dialog__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
}
.dialog__title {
  font-size: 50px;
  margin-bottom: 20px;
}
.dialog__data {
  font-weight: 600;
}
.dialog__inputWrapper {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.dialog__textareaWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.dialog__groupColor {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.dialog__actionsWrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: end;
}
.dialog::backdrop {
  background-color: rgba(17, 16, 20, 0.671);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.footer__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.footer__column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  width: 45%;
}
.footer__icon {
  width: 10%;
  opacity: 0.5;
}
.footer__contactWrapper {
  width: 45%;
  font-size: 18px;
  font-weight: 600;
}
.footer__contact:not(:last-child) {
  margin-bottom: 10px;
}

[data-dark=true] .page {
  background-color: #3f3b38;
  color: #fff9ed;
}
[data-dark=true] .productCard {
  background-color: rgba(63, 59, 56, 0.8);
}
[data-dark=true] .header {
  background-color: rgba(63, 59, 56, 0.7);
}
[data-dark=true] .toggler__label {
  box-shadow: #fff9ed 0px 0px 0px 2px;
}
[data-dark=true] .toggler__button {
  background-color: #fff9ed;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=index.css.map */