@import url(./src/styles/reset.scss);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Playfair Display', serif;

$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$color-brown: #3f3b38;
$color-orange: #cc9065;

// light theme vars
$dark-text-color: $color-brown;
$light-background-color: #fff9ed;

// dark theme vars
$light-text-color: #3f3b38;
$dark-background-color: #fff9ed;

// button color
$background-color-orange: $color-orange;
$background-color-brown: $color-brown;

html {
  font-family: $primary-font-family;
  color: $dark-text-color;
  scroll-behavior: smooth;
}

.page {
  background-color: $light-background-color;
  position: relative;

  &__main {
    height: 100vh;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-image: url('./src/assets/images/interior.jpg');
      background-repeat: no-repeat;
      background-position: 0 20%;
      background-size: cover;
    }
  }
  &__header {
    position: fixed;
    z-index: 20;
  }
  &__section {
  }
}

.header {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 30px;
  backdrop-filter: blur(10px);
  font-family: $secondary-font-family;
  box-shadow: $shadow;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }

  &__nav {
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    font-style: italic;
    margin-right: 40px;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main {
  position: relative;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 15px;
    box-sizing: content-box;
  }

  &__titleWrapper {
    position: relative;
    z-index: 10;
  }

  &__slogan {
    max-width: 600px;
    font-family: $secondary-font-family;
  }

  &__button {
    max-width: 250px;
    margin-top: 40px;
  }
}

.button {
  display: block;
  text-align: center;

  border-radius: 40px;
  color: #fff9ed;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;

  transition: all ease-out 0.2s;

  &:active {
    transform: scale(1.1);
  }

  &-small {
    padding: 10px 30px;
  }
  &-large {
    padding: 20px 30px;
  }

  &-light {
    background-color: $background-color-orange;

    &:hover {
      background-color: darken($background-color-orange, 10%);
    }
  }
  &-dark {
    background-color: $background-color-brown;
    &:hover {
      background-color: darken($background-color-brown, 10%);
    }
  }
}

.slogan {
  max-width: 500px;
  line-height: 1.5;
  font-size: 50px;
  font-style: italic;

  &__text {
    opacity: 0.8;
  }

  &__accent {
    opacity: 1;
  }
}

.section {
  padding: 50px 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: content-box;
  }
  &__products {
  }
  &__title {
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
  }
  &__paragraph {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    opacity: 0.8;
  }

  &__sofas {
    background-color: rgba(73, 134, 175, 0.418);
  }
}

.products {
  &__title {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }
  &__item {
  }
}

.productCard {
  width: 230px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: $shadow;

  &:hover &__image {
    transform: scale(1.15);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__imageWrapper {
    overflow: hidden;
  }

  &__image {
    transition: transform 0.2s;
    border-radius: 10px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
  }

  &__buyWrapper {
    display: flex;
    justify-content: end;
  }

  &__date {
    opacity: 0.7;
  }
}

.dialog {
  margin: auto auto;
  padding: 50px;
  border-radius: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    font-size: 50px;
  }

  &__dataWrapper {
    font-size: 20px;
  }
  &__label {
  }
  &__data {
    font-weight: 600;
  }
  &__inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__input {
    font-weight: 600;
  }

  &__actionsWrapper {
    display: flex;
    column-gap: 20px;
    justify-content: end;
  }

  &::backdrop {
    background-color: rgba(44, 40, 63, 0.445);
  }
}

// @media (prefers-color-scheme: dark) {
//   .page {
//     background: #753;
//     color: #dcb;
//     outline: 5px dashed #000;
//   }
// }

// @media (prefers-color-scheme: light) {
//   .page {
//     background: rgb(255, 128, 0);
//     color: rgb(0, 0, 0);
//     outline: 5px dashed #000;
//   }
// }
