@import url(./src/styles/reset.scss);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// main vars
$container-width: 1200px;

// font vars
$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Playfair Display', serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// color vars
$color-brown: #3F3B38;
$color-orange: #CC9065;
$color-white: #FFFFFF;
$color-floral-white: #FFF9ED;


// theme vars
$dark-text-color: $color-brown;
$light-background-color: $color-floral-white;

$light-text-color: $color-floral-white;
$dark-background-color: $color-brown;

// button color
$background-color-orange: $color-orange;
$background-color-brown: $color-brown;

$shadow: rgba(73, 56, 61, 0.144) 0px 8px 24px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: $primary-font-family;
  color: $dark-text-color;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.page {
  background-color: $light-background-color;
  position: relative;

  &__main {
    height: 100vh;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      filter: brightness(1.2) contrast(80%);
      background-image: url('./src/assets/images/interior.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &__header {
    position: fixed;
    z-index: 20;
  }
  &__section {
  }
}

.header {
  display: block;
  font-weight: 500;
  width: 100%;
  padding: 10px 0;
  font-size: 30px;
  backdrop-filter: blur(20px);
  background-color: rgba($color-white, 0.5);
  font-family: $secondary-font-family;
  box-shadow: $shadow;
  
  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }

  &__nav {
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    font-style: italic;
    margin-right: 40px;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main {
  position: relative;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 150px 15px;
    box-sizing: content-box;
  }

  &__titleWrapper {
    position: relative;

    @include flexCenter;
    flex-direction: column;
  }

  &__slogan {
    max-width: 800px;

    font-size: calc((1vh + 1vw) * 3);

    font-weight: 500;
    font-family: $secondary-font-family;
    text-align: center;
  }

  &__button {
    max-width: 250px;
    margin-top: 40px;
    animation: scaleAnimation ease-in-out 2s infinite;
  }
}

.button {
  display: block;
  text-align: center;

  border-radius: 40px;
  color: $light-text-color;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;

  transition: all ease-out 0.2s;
  background-color: $background-color-orange;

  &:hover {
    background-color: darken($background-color-orange, 10%);
  }

  &:active {
    transform: scale(1.1);
  }

  &-small {
    padding: 10px 30px;
  }
  &-large {
    padding: 20px 30px;
  }
}

.section {
  padding: 50px 0;
  text-align: center;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }
  &__products {
  }

  &__title {
    font-size: 50px;
    margin: 30px 0;
  }
  &__paragraph {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 300;
  }

  &__sofas {
    background-color: rgba(73, 134, 175, 0.418);
  }
  &__tables {
    background-color: rgba(197, 133, 133, 0.418);
  }
  &__chairs {
    background-color: rgba(224, 200, 118, 0.418);
  }
}

.products {
  &__title {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }
  &__item {
  }
}

.productCard {
  position: relative;
  width: 230px;
  background-color: $color-white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: $shadow;

  &:hover &__image {
    transform: scale(1.15);
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
  }

  &__imageWrapper {
    overflow: hidden;
  }

  &__image {
    transition: transform 0.2s;
    border-radius: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  &__buyWrapper {
    display: flex;
    justify-content: end;
  }

  &__date {
    text-align: start;
    font-weight: 300;
  }
}

.dialog {
  margin: auto auto;
  padding: 50px;
  border-radius: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    font-size: 50px;
  }

  &__dataWrapper {
    font-size: 20px;
  }
  &__label {
  }
  &__data {
    font-weight: 600;
  }
  &__inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__input {
    font-weight: 600;
  }

  &__actionsWrapper {
    display: flex;
    column-gap: 20px;
    justify-content: end;
  }

  &::backdrop {
    background-color: rgba(17, 16, 20, 0.671);
    backdrop-filter: blur(5px);
  }
}

.footer {
  &__container {
    max-width: $container-width;
    margin: 0 auto;
  }
  &__nav {
  }
}


@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// @media (prefers-color-scheme: dark) {
//   .page {
//     background: #753;
//     color: #dcb;
//     outline: 5px dashed #000;
//   }
// }

// @media (prefers-color-scheme: light) {
//   .page {
//     background: rgb(255, 128, 0);
//     color: rgb(0, 0, 0);
//     outline: 5px dashed #000;
//   }
// }
